@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    overflow-x: hidden;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.loader .face {
    position: absolute;
    border: 2px solid #379fb6
}

.loader .face.face1 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgb(85, 183, 190);
    border-radius: 50%;
    border-left: 2px solid #7eb593;
    border-top: 2px solid #66ad7d;
    animation: animate 3s linear infinite;
}

.loader .face.face2 {
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 0 10px rgb(95, 161, 161);
    border-radius: 50%;
    border-right: 2px solid #a3c8d8;
    border-bottom: 2px solid #b1c6d1;
    animation: animate 3s linear reverse infinite;
}

.loader .face .circle {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
    transform-origin: left;
}

.loader .face.face1 .circle {
    transform: rotate(-45deg);

}

.loader .face.face2 .circle {
    transform: rotate(-45deg);
}

.loader .face .circle::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    right: -6px;
    top: -4px;
}

.loader .face.face1 .circle::before {
    background: #5ccd74;
    box-shadow: 0 0 20px rgb(47, 168, 59),
        0 0 40px rgb(76, 196, 122),
        0 0 60px rgb(162, 212, 172),
        0 0 80px rgb(113, 159, 125),
        0 0 100px rgb(79, 169, 96),
        0 0 0 5px rgba(90, 151, 113, 0.1);
}

.loader .face.face2 .circle::before {
    background: #686863;
    box-shadow: 0 0 20px #93bcce,
        0 0 40px #71c5ec,
        0 0 60px #79858a,
        0 0 80px #778288,
        0 0 100px #7997a4,
        0 0 0 5px rgba(98, 163, 193, 0.1);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }
}